.whole-container {
    background-color: lightgrey;
    height: 100%;
}

.title {
    margin-left: 0.6rem;
    padding-top: 0.6rem;
}

.card-subtitle {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

.base-container {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    display: inline;
}

.launch-container {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.launch-card {
    width: 18rem;
    height: 32rem;
}

.img-highlight {
    background-color: lightgray;
    margin-top: 10px;
    width: 256px;
    height: 256px;
}

.result-text-style {
    color: #2f5496;
}

.filter-title-gap {
    margin-bottom: 2rem;
}