.whole-container {
    background-color: lightgrey;
    height: 100vh;
}

.title {
    margin-left: 0.6rem;
    padding-top: 0.6rem;
}

.card-subtitle {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

.base-container {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    display: inline;
}