<div class="container-fluid">
    <h2 class="title">SpaceX Launch Programs</h2>

    <div class="row">
        <div class="col-xs-12 col-md-4 col-xl-2">
            <div class="card">
                <div class="card-body" style="padding:1rem;">
                    <h6 class="card-title">Filters</h6>
                    <h5 class="card-subtitle">Launch Year</h5>
                    <hr>
                    <button type="button" class="btn btn-success" (click)="year_click(year)" *ngFor="let year of launch_year">{{year}}</button>
                    <h5 class="card-subtitle">Successful Launch</h5>
                    <hr>
                    <button type="button" class="btn btn-success" *ngFor="let launchsucess of successful_launch" (click)="launch_success(launchsucess)" style="text-transform: capitalize;">{{launchsucess}}</button>
                    <h5 class="card-subtitle">Successful Landing</h5>
                    <hr>
                    <button type="button" class="btn btn-success" *ngFor="let launchlanding of successful_landing" (click)="launch_land(launchlanding)" style="text-transform: capitalize;">{{launchlanding}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 col-xl-10">
            <div class="row">
                <div class="column" *ngFor="let launchdetails of launches">
                    <div class="card">
                        <img src="{{launchdetails.links.mission_patch_small}}" class="card-img-top">
                        <div class="card-body">
                            <h6 class="card-title result-text-style">{{launchdetails.mission_name}} &nbsp;#{{launchdetails.flight_number}}</h6>
                            <h6>Mission Ids:</h6>
                            <ul *ngIf="launchdetails.mission_id.length > 0">
                                <li *ngFor="let ids of launchdetails.mission_id" class="result-text-style">{{ids}}</li>
                            </ul>
                            <div class="d-flex align-items-center">
                                <h6>Launch Year:</h6>
                                <h6 class="result-text-style" style="font-weight: 400;">&nbsp;{{launchdetails.launch_year}}</h6>
                            </div>
                            <div class="d-flex align-items-center">
                                <h6>Successful Launch:</h6>
                                <h6 class="result-text-style" style="font-weight: 400;">&nbsp;{{launchdetails.launch_success}}</h6>
                            </div>
                            <div class="d-flex align-items-center">
                                <h6>Successful Landing:</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h6 class="footer-text">Developed by: Ayusha Udupi</h6>
</div>